.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul {
  margin: 0;
  padding: 0;
  background-color: skyblue;
}

.nav-ul li a {
  color: black;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.footer {
  background-color: skyblue;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.register {
  margin-left: 30%;
}

.login {
  margin-left: 30%;
  margin-top: 100px;
}

.inputbox {
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;
}

.appButton {
  background-color: skyblue;
  margin: 25px;
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
  font-weight: bold;

}

.nav-right {
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}